#guyContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#guyContainer img {
  width: 100px;
  height: auto;
}

.copyBtn {
  margin-left: 10px;
}

.truckImg {
  height: 50px;
  vertical-align: middle;
}
